.wrapper .content_wrap .content_inner {
  width: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper .content_wrap .content_inner .join_table {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 100px;
}

.wrapper .content_wrap .content_inner .join_table .join_title {
  font-size: 20pt;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.wrapper .content_wrap .content_inner .join_table .join_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.wrapper .content_wrap .content_inner .join_table .join_middle .join_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper .content_wrap .content_inner .join_table .join_middle .join_info > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 3px;
}

.wrapper .content_wrap .content_inner .join_table .join_middle .join_info > label span {
  width: 100px;
}

.wrapper .content_wrap .content_inner .join_table .input_box {
  border: inherit;
  border-bottom: 1px solid #333;
  margin-left: 10px;
}

.wrapper .content_wrap .content_inner .join_table .join_btns {
	text-align: center;
}

.wrapper .content_wrap .content_inner .join_table .join_btn {
  border-radius: 10px;
  width: 100px;
  margin: 20px;
  background: inherit;
  padding: 10px 10px 10px 10px;
  border: 2px solid #E8E1D9;
  cursor: pointer;
  color: #3E7C17;
  -webkit-transition: 0.24s ease-out;
  transition: 0.24s ease-out;
}

.wrapper .content_wrap .content_inner .join_table .join_btn:hover {
    background-color: #3E7C17;
  	border-color: #3E7C17;
  	color: #F4A442;
}